<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %} - gtt116</title>
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<script language="javascript" type="text/javascript" src="/static/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/jquery.stupidtable.js"></script>

<script>
$(function() {
    $("#stacky_table").stupidtable();
});
</script>
{% block head %}
{% endblock %}
</head>
<body>
<div id="eyebrow" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">NVS-stacktach</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class=""><a href="{% url home deployment_id %}">debug</a></li>
                  <li class="active"><a href="{% url summary deployment_id %}">statistic</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div><!--navbar-->

<div id="content" class="container" >
    {% block subcontent %}
    {% endblock %}
    {% block content %}
    <h3>{{subtitle}}</h3>
    <table id="stacky_table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th data-sort="int">ID</th>
                {% for head in header %}
                <th data-sort="string">{{head}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
        {% for line in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            {% for col in line %}
            {% if forloop.first %}
            <td>
                {% if url_prefix %}
                <a href="{{url_prefix}}{{col}}">
                    {{col}}
                </a>
                {% else %}
                {{col}}
                {% endif %}
            </td>
            {% else %}
            <td>
                {{col}}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</div>

<hr/>
<div id="footer" class="container">
    {% block footer %}
    <div class="center">
        &copy; Copyright 2013 by <a href="http://github.com/gtt116/">gtt116</a>.
    </div>
    {% endblock %}
</div>
</body>
</html>
