<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - gtt116</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">gtt116</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active"><a href="#">{% block subtitle %}{% endblock %}</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="content" class="container" >
      {% block content %}
      <h3>{{subtitle}}</h3>
      <table class="table table-scriped table-hover">
        <tr>
          <th>ID</th>
          {% for head in header %}
          <th>{{head}}</th>
          {% endfor %}
        </tr>

        {% for line in data %}
        <tr>
          <td>{{forloop.counter}}</td>
          {% for col in line %}
            {% if forloop.first %}
            <td>
              {% if url_prefix %}
              <a href="{{url_prefix}}{{col}}">
                {{col}}
              </a>
              {% else %}
                {{col}}
              {% endif %}
            </td>
            {% else %}
            <td>
              {{col}}
            </td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      {% endblock %}
    </div>

    <hr/>
    <div id="footer" class="container">
      {% block footer %}
      <div class="center">
        &copy; Copyright 2013 by <a href="http://github.com/gtt116/">gtt116</a>.
      </div>
      {% endblock %}
    </div>
  </body>
</html>
