deployments:
- 
  name: a.nvs.com
  durable_queue: false
  rabbit_host: ip.ip.ip.ip
  rabbit_port: 5672
  rabbit_userid: guest
  rabbit_password: ''
  rabbit_virtual_host: /

- 
  name: b.nvs.com
  durable_queue: false
  rabbit_host: ip.ip.ip.ip
  rabbit_port: 5672
  rabbit_userid: guest
  rabbit_password: ''
  rabbit_virtual_host: /
